<div class="mb-3">
	<label for="registration_form_avatar">Click pour générer ton avatar</label>
	<div class="avatar d-flex">

		<div class="avatar__generated me-2" style="width:50px; height:50px; border: solid 1px #000">
			<img src="{{ asset('uploads/avatar/default-profile.svg') }}" style="width: 100%">
		</div>
		<button id="avatar__generate" class="btn btn-success">
			<span>Générer</span>
		</button>
		{{ form_row(form.avatar ?? registrationForm.avatar) }}
	</div>
</div>
