{{form_start(form, {method: 'GET'})}}
	<div id="search__friends" class="home-search">
		{{form_widget(form.searchfriends, { attr: {'class': 'form-control-lg me-5'} })}}
		<button class="btn btn-floating" type="submit" data-mdb-ripple-color="dark">
			<i class="fas fa-search"></i>
		</button>
	</div>
{{form_end(form)}}
