
{% extends "layout/base.html.twig" %}

{% block title %}Edition profil{% endblock %}

{% block body %}

<div id="profile">

	{# Navigation secondaire du dashboard + informations #}
	{% include "profile/_nav_aside.html.twig" %}
	
	<section class="contentProfile">
    <h2>Edition du Profil</h2>

    {% include 'profile/_form.html.twig' with {'button_label': 'Editer'} %}

	</section>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/avatar.js') }}"></script>
{% endblock %}