{% extends "layout/base.html.twig" %}

{% block title 'Modifier une sortie' %}

{% block menu_events %}active{% endblock %}

{% block body %}

<div class="container-xl my-5">

    <section id="event-edit">
    
        <div class="mb-4">
            <h2 class="m-0"><i class="fa fa-edit mr-2"></i>Modifier une sortie</h2>
        </div>

        {{ include("event/_form.html.twig", {button_label:'Modifier ma sortie'}) }}

    </section>

</div>

{% endblock %}