{% extends 'layout/base.html.twig' %}

{% block title 'Register' %}

{% block body %}

	<div class="container-xl my-5">

		<section id="register">

			<h1>Register</h1>

			<div class="container">
				{% for flashError in app.flashes('verify_email_error') %}
					<div class="alert alert-danger" role="alert">{{ flashError }}</div>
				{% endfor %}

				{{ form_start(registrationForm, { attr:{ novalidate: 'novalidate' }}) }}
				{{ form_widget(registrationForm) }}
				<button type="submit" class="btn">Register</button>
				{{ form_end(registrationForm) }}
			</div>

		</section>

	<div>

{% endblock %}
