{% extends 'layout/base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="container">
    <section id="login">

    <h2 class="home__title">Changez votre mot de passe</h2>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn button-primary">Modifier</button>
    {{ form_end(resetForm) }}
    </section>
    </div>
{% endblock %}
