:root {
	--primary-color: #00b4d4;
	--secondary-color: #be2c00;
	--profile-main-color: #e74c3c;
	--profile-secondary-color: #2f3640;

}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*****************************************************************? MDB */

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: var(--primary-color);
    -webkit-box-shadow: inset 0 0 0 1px var(--primary-color);
    box-shadow: inset 0 0 0 1px var(--primary-color);
}

.form-check-input[type=checkbox]:checked {
    background-image: none;
    background-color: var(--primary-color);
}

.form-check-input[type=checkbox]:checked:focus {
    background-color: var(--primary-color);
}

.btn-floating-sm {
	border-radius: 50%;
    padding: 0;
    position: relative;
	width: 2rem;
	height: 2rem;
}

.btn-floating-sm .fab, .btn-floating-sm .far, .btn-floating-sm .fas {
    width: 2rem;
    line-height: 2rem;
}



/*****************************************************************? HEADER */

#header {
	position: relative;
}

.masthead {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;

	transform: translateY(-100px);
	width: 100%;
	height: 65vh;
	overflow: hidden;

	background-size: cover !important;
	background: linear-gradient(to bottom,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0) 85%,
			rgba(255, 255, 255, 0.50) 100%),
		linear-gradient(to top,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0) 65%,
			rgba(255, 255, 255, 0.9) 100%),
		url("../img/bg-header.jpeg") no-repeat center center scroll;
}

.masthead__brand {
	margin: 3rem 0;
	color: #eee;
	font-weight: bold;
	font-size: 3.5rem;
	letter-spacing: 0.03em;
	margin-top: 2rem;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

/*****************************************************************? NAVBAR */

#nav {
	height: 80px;
	background: transparent;
	transition: 0.3s all linear;
	z-index: 1000;
}

#nav .nav-link {
	font-size: 1.1rem;
	color: #404040;
}

#nav .nav-link:hover {
	color: #111111;
}

#nav .navbar .btn {
	display: inline-flex;
	align-items: center;
	line-height: 1;
	height: 2.2rem;
	font-size: 0.75rem;
	padding: 0 1rem;
	font-weight: 600;
	text-transform: none;
	letter-spacing: normal;
}

#nav .dropdown-menu {
	padding: 0.5rem 0;
	box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
	background-color: rgba(255, 255, 255, 0.95);
}

#nav .dropdown-menu.login-form {
	min-width: 22rem;
	padding: 1rem;
	right: 0;
	left: auto;
}

/*** Sticky ***/

#nav.navbar.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
	background-color: rgba(255, 255, 255, 1);
}

/*****************************************************************? HOME PAGE */

.topScore {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

.topScore h3 {
	text-transform: capitalize;
}

.topCategories,
.topCities,
.descriptionPlace,
.topContributors {
	margin-top: 2rem;
}

.descriptionPlace {
	display: flex;
	box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
	border: 0;
}

.descriptionPlace__description {
	margin-left: 2rem;
}

.descriptionPlace__picture {
	display: none;
}

.topCategories a,
.topContributors a {
	text-decoration: none;
	color: inherit;
}

.topCategories a:hover h3,
.topContributors a:hover h3 {
	text-decoration: underline;
}

.topScore__content {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5rem;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.topScore__content .card-body {
	padding: 0.5rem !important;
}

.topScore__content-avatar {
	width: 20%;
}

.topScore__content-avatar>img {
	width: 100%;
	border-radius: 3rem;
}

/*****************************************************************? CATEGORY LIST */

#categoryCarousel .carousel__img {
	max-height: 600px;
	height: 100%;
}

#category .category__card {
	box-shadow: 2px 2px 20px 2px rgb(0 0 0 / 30%) !important;
}

#category .category__card:hover {
	box-shadow: 2px 2px 20px 2px rgb(0 0 0 / 35%) !important;
}

#category .category__card_title {
	display: block;
	width: 100%;
	padding: 0.7rem;
	text-align: center;
	color: white;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.1);
}

#category .category__card:hover .category__card_title {
	background-color: rgba(0, 0, 0, 0.15);
}

/*****************************************************************? EVENT LIST */

/*** SEARCH FORM ***/

.search__form {
	width: 100%;
	padding: 1rem;
}

.search__form_input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.search__form #q {

}

.search__form #categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 1rem;
}


/*** LIST ***/

#list .list__card {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;

	margin-bottom: 0.8rem;
	padding: 0.5rem;

	border-bottom-left-radius: 70px;
	border-top-left-radius: 70px;
	border: 1px solid rgba(0, 0, 0, 0.04);
	cursor: pointer;
	transition: 0.2s all linear;
}

#list .list__card:hover {
	border: 1px solid rgba(0, 0, 0, 0.08);
	box-shadow: 0 10px 15px 0 rgba(0,0,0,.10)!important;
}

#list .list__card_image img {
	max-width: 120px;
	max-height: 120px;
	object-fit: cover;
	border-radius: 50%;
}


#list .list__card_image img:hover {
	filter: drop-shadow(4px 0 6px rgba(37, 37, 37, 0.20));
}

#list .list__card_author a {
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #555555;
}

#list .list__card_author a:hover {
	color: var(--primary-color);
}

				
#list .list__card_date {
	color: #757575;
	font-style: italic;
	font-size: 0.85rem;		
}

#list .list__card_date a {
	text-decoration: underline;
}

#list .list__card_date a:hover {
	color: #07347e
}

#list .list__cards_attendants {
    color: #555555;
    font-style: italic;
    font-size: 0.90rem;
}

#list .list__card_content {
	width: 100%;
	margin: 0 0.5rem 0 1rem;
}

#list .list__card_footer {
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#list .list__card_categories {
	color: #555555;
    font-style: italic;
    font-size: 0.90rem;
	align-items: flex-end;
}

#list .list__card_address {
	font-size: 0.9rem;
}

#list .flex-between {
	display: flex;
	justify-content: space-between;
}

/*****************************************************************? EVENT SHOW */

#show .show__card {
	height: 100%;
	min-height: 350px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.05);
	transition: 0.2s all linear;
}

#show .show__card_header {
	height: 150px;
	width: 100%;
}

#show .show__card_header_image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
#show .show__card_content {
	padding: 1rem;
}

#show .show__card_content-author {
	display: flex;
    align-items: center;
	justify-content: space-between;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.2s all linear;
}

#show .show__card_content-author a {
	color: #555555;
}

#show .show__card_content-author a:hover {
	color: var(--primary-color);
}

#show .show__card_content-details {
	margin: 1rem 0.5rem;
}

#show .show__card_content-attendants,
.show__card_content-date,
.show__card_address {
	color: #757575;
	font-style: italic;
}

#show .show__card_content-description {
	text-align: center;
}

#show .show__card_content-description .--title{
	text-decoration: underline;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

#show .show__card_content-footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	margin-top: 2rem;
	padding: 1rem;
}

.show__comments {
	display: flex;
	margin-top: 1rem;
	border-radius: 3rem;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.05);
}

.show__author_avatar img{
	max-width: 100px;
	max-height: 100px;
	object-fit: cover;
	border-radius: 50%;
}

.show__comments_content{
	width: 100%;
	flex-wrap: wrap;
	padding-left: 1rem;
}

.show__comment_header {
	color: #757575;
	font-style: italic;
	font-size: 0.85rem;	
	margin-bottom: 0.7rem;
}

.comments__button {
	display : flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

.create__comment{
	display: none;
}

.create__comment_toggle{
	display: block;
}

/*****************************************************************? PROFIL */

.contentProfile {
	margin: 3rem 1rem 0 1rem;
}

.contentProfile h2 {
	text-align: left;
	color: var(--profile-secondary-color);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 2rem 0 1rem 0;
}

.contentProfile h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1rem;
}

.contentProfile p,
.contentProfile h3 {
	margin: 0;
}

.dashAction.--desktop {
	display: none;
}

.dashAction.--mobile {
	margin: 0 1rem;
}

.dashAction.--mobile .dashAction__item,
.dashAction.--desktop .dashAction__item-infos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	text-align: center;
	width: 100%;
	transform: inherit;
	margin: 2rem 0;
	padding: 1rem 0.2rem;
	flex-wrap: wrap;
	background-color: var(--profile-main-color);
	border-radius: 0.2rem;
}

.dashAction__item {
	border-radius: 0.2rem;
}

.dashAction.--mobile .dashAction__item-infos_details>a {
	text-decoration: none;
	color: var(--profile-secondary-color);
}

.dashAction.--mobile .dashAction__item#infos {
	border: none;
	background-color: transparent;
}

.dashAction.--mobile .dashAction__item>img {
	width: 55px;
	border-radius: 3rem;
}

.dashAction__item>p {
	margin: 0;
}

.dashAction.--mobile .dashAction__item-infos_details {
	margin: 0;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
}

.dashAction__item-action_button {
	display: block;
	width: 35px;
	height: 35px;
	color: var(--profile-main-color);
	background-color: #fff;
	border-radius: 2rem;
	transition: .2s linear;
}

.dashAction__item-action_button>i {
	transform: translateY(45%);
}

.dashAction__item-action_button:hover {
	color: #fff;
	background-color: #c0392b;
}

/*****************************************************************? PROFIL DASHBOARD */

.contentProfile span {
	display: block;
	font-weight: bold;
	text-decoration: underline;
}

.contentProfile__lastExits-picture {
	display: none;
}

.contentProfile__lastExits-infos>.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	background-color: var(--profile-secondary-color);
	color: #fff;
	border-bottom: solid 2px var(--profile-main-color);
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
	gap: 1rem;
}

.contentProfile__lastExits-infos>.card-header>p {
	text-align: right;
}

.contentProfile__lastExits-infos_details {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.contentProfile__lastExits-infos_details > p:last-child {
	text-align: right;
}

.contentProfile__lastExits-infos_actions {
	text-align: right;
}

.contentProfile__lastExits-infos_actions > .--show {
	background-color: #1266f1;
}

.contentProfile__lastExits-infos_actions > .--edit {
	/* background-color: à définir */
}

.contentProfile__lastExits-infos_actions > .--delete {
	/* background-color: à définir */
}

.contentProfile__lastExits-infos_actions>a {
	margin-left: 0.5rem;
}

/*****************************************************************? PUBLIC PROFILE */

.contentProfile__infos {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.contentProfile.--public {
	margin: 2rem 1rem 0;
}

.contentProfile.--public h2 {
	text-align: center;
}

.contentProfile.--public .contentProfile__infos-details>h2 {
	margin: 0 0 1rem;
}

.contentProfile__description {
	margin: 2rem 0;
}

.contentProfile__description>p {
	padding: 1rem 1.5rem;
}

.contentProfile__infos-avatar {
	overflow: hidden;
}

.contentProfile__infos-avatar>img {
	width: 100%;
	height: auto;
}

.contentProfile__infos-buttonText {
	color: #fff;
	margin: 1rem 0 0;
	font-size: .8rem;
	font-weight: bold;
}

.contentProfile__infos-buttonText.--action {
	background-color: var(--profile-main-color);
}

.contentProfile__infos-buttonText.--action:hover {
	background-color: #c0392b;
}

.contentProfile__infos-buttonText.--back {
	background-color: var(--profile-secondary-color);
}

.contentProfile__infos-buttonText.--back:hover {
	background-color: #656e7a;
}

.contentProfile__infos-buttonText>i {
	margin-right: 1rem;
}

.contentProfile__buttons {
	text-align: right;
}

.contentProfile__friends-list {
	padding: 1rem 1.5rem;
	-webkit-box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
	box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
}

.contentProfile__description,
.contentProfile__friends {
	border-bottom: solid 5px var(--profile-main-color);
}

/*****************************************************************? PROFILE EDIT EVENT */

.contentProfile h2>i {
	margin-right: 1rem;
}

/*****************************************************************? COLOR */

.bg-light {
	background-color: #f2f6fc !important;
}

.bg-white-20 {
	background-color: rgba(255, 255, 255, 0.2) !important;
}

.text-light {
	color: #f2f6fc !important;
}

svg.text-light {
	fill: #f2f6fc !important;
}

.footer.footer-light,
.navbar-light .navbar-nav .nav-link,
.page-header-ui-text {
	color: #69707a !important;
}

.footer-admin a,
.footer a,
.text-reset {
	color: inherit !important;
}

/****************************
* ALIGNEMENT & STYLE
*****************************/

.pt-6 {
	padding-top: 6rem !important;
}

.pb-6 {
	padding-bottom: 6rem !important;
}

/****************************
* CHIP
*****************************/

.chip {
	display: inline-block;
	height: 32px;
	width: 150px;
	padding: 0 12px;
	margin-right: 1rem;
	margin-bottom: 1rem;
	font-size: 13px;
	font-weight: 500;
	line-height: 32px;
	color: #fff;
	cursor: pointer;
	background-color: var(--profile-secondary-color);
	border-radius: 16px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.chip img {
	float: left;
	width: 32px;
	height: 32px;
	margin: 0 8px 0 -12px;
	border-radius: 50%;
}

.chip .close {
	float: right;
	padding-left: 8px;
	font-size: 16px;
	line-height: 35px;
	cursor: pointer;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

/*****************************************************************? FOOTER */

#footer {
	background-color: #eef3fb;
}

.icon-list-social .icon-list-social-link {
	color: #404040;
	font-size: 0.75rem;
}

.icon-list-social .icon-list-social-link:hover {
	color: #656e7a !important;
	transition: all 0.3s ease-in-out;
}

#footer a {
	color: #585858;
	transition: 0.3s all linear;
}

#footer a:hover {
	color: #202020;
	text-decoration: underline;
}

.footer__links a {
	font-size: 1.1rem;
	text-decoration: underline;
}

/*****************************************************************/
/************************************************  MEDIA QUERIES */
/*****************************************************************/

@media screen and (max-width: 575px) {
	.container {
		padding: 0.5rem!important;
		margin: 0 auto!important;
	}

	/************************************************ PAGE LIST  */
	#list .flex-between {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
	}
}
@media screen and (min-width: 576px) {
	.container {
		margin: 1rem auto!important;
	}
	
	/************************************************ PUBLIC PROFILE  */
	.contentProfile__infos {
		flex-direction: row;
	}

	.contentProfile__infos-details,
	.contentProfile.--public .contentProfile__infos-details>h2 {
		text-align: left;
		margin: 0 0 1rem;
	}

}

@media screen and (min-width: 700px) {

	/************************************************ HOME  */
	.topScore {
		grid-template-columns: repeat(2, 1fr);
	}


	.descriptionPlace img {
		width: 100%;
	}

	.descriptionPlace__picture {
		display: block;
	}

	.contentProfile.--public {
		margin: 2rem 4rem;
	}
}

@media screen and (min-width: 768px) {
	.container {
		margin: 1.5rem auto!important;
	}
}

@media screen and (min-width: 992px) {
	.container {
		padding: 0!important;
	}
	/************************************************ PROFILE  */

	.dashAction.--desktop {
		display: block;
	}

	.dashAction.--mobile {
		display: none;
	}

	#profile {
		display: flex;
		margin: 0 2rem;
	}

	.dashAction.--desktop {
		flex: 1;
	}

	.contentProfile {
		flex: 2;
		margin: 0 1rem;
	}

	.dashAction.--desktop>.dashAction__item {
		margin: 1rem 0;
	}

	.dashAction.--desktop .dashAction__item:first-child {
		border-left: solid 15px var(--profile-main-color);
	}

	.dashAction.--desktop .dashAction__item:nth-child(2) {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		text-align: center;
		width: 100%;
		transform: inherit;
		margin: 2rem 0;
		padding: 1rem 0.2rem;
		flex-wrap: wrap;
		background-color: var(--profile-main-color);
		border-radius: 0.2rem;
	}

	.dashAction.--desktop .dashAction__item-infos {
		margin: 0;
		padding: 0;
		background-color: transparent;
		justify-content: space-between;
	}

	.dashAction.--desktop .dashAction__item-infos>img {
		width: 85px;
		border-radius: 3rem;
	}

	.dashAction.--desktop .dashAction__item-infos_details {
		text-align: right;
	}

	.dashAction.--desktop .dashAction__item>.card-header {
		background-color: var(--profile-main-color);
		text-align: center;
	}

	.dashAction.--desktop .dashAction__item>.card-header>h3 {
		color: #ffffff;
		margin: 0;
	}

	.dashAction__item-button {
		text-align: right;
		margin: 1rem 0 0 0;
	}

	/************************************************ DASHBOARD  */

	.contentProfile__lastExits>.card>div {
		display: flex;
		height: 230px;
	}

	.contentProfile__lastExits-picture {
		display: block;
		flex: 1;
		max-width: 100%;
		max-height: 100%;
		overflow: hidden;
	}

	.contentProfile__lastExits-picture>img {
		width: 100%;
		height: auto;
	}

	.contentProfile__lastExits-infos {
		flex: 3;
	}

	.contentProfile__lastExits-infos>.card-header {
		border-radius: 0;
	}

	.contentProfile.--public {
		margin: 2rem 7rem;
	}
}

@media screen and (min-width: 1200px) {

	/************************************************ HOME  */
	.topScore {
		grid-template-columns: repeat(3, 1fr);
	}

	/************************************************ PROFILE  */
	.dashAction.--desktop .dashAction__item:last-child .card-body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.contentProfile.--public {
		margin: 2rem 15rem;
	}
}

@media screen and (min-width: 1400px) {

	/************************************************ PROFILE  */
	.contentProfile {
		flex: 3;
	}

}