:root {
  --primary-color: #00b4d4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*****************************************************************? HEADER */

#header {
  position: relative;
}

.masthead {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  margin-top: -100px;
  width: 100%;
  height: 65vh;
  overflow: hidden;

  background-size: cover !important;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 85%,
      rgba(255, 255, 255, 0.65) 100%
    ),
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 65%,
      rgba(255, 255, 255, 0.9) 100%
    ),
    url("../img/bg-header.jpeg") no-repeat center center scroll;
}

.masthead__brand {
  margin: 3rem 0;
  color: #eee;
  font-weight: bold;
  font-size: 3.5rem;
  letter-spacing: 0.03em;
  margin-top: 2rem;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

/*
header .bg-image {
  background-image: url('../img/bg-header.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
} */

/*****************************************************************? NAVBAR */

#nav {
  height: 90px;
  background: transparent;
  transition: 0.3s all linear;
  z-index: 1000;
}

#nav .nav-link {
  font-size: 1.1rem;
  color: #404040;
}

#nav .nav-link:hover {
  color: #111111;
}

#nav .navbar .btn {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  height: 2.2rem;
  font-size: 0.75rem;
  padding: 0 1rem;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
}

#nav .dropdown-menu {
  padding: 0.5rem 0;
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  background-color: rgba(255, 255, 255, 0.95);
}

#nav .dropdown-menu.login-form {
  min-width: 22rem;
  padding: 1rem;
  right: 0;
  left: auto;
}

/*** Sticky ***/

#nav.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15) !important;
}

/*****************************************************************? HOME PAGE */

.topScore {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.topScore h3 {
  text-transform: capitalize;
}

.topCategories,
.topCities,
.descriptionPlace,
.topContributors {
  margin-top: 2rem;
}

.descriptionPlace {
  display: flex;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
  border: 0;
}

.descriptionPlace__description {
  margin-left: 2rem;
}

.descriptionPlace__picture {
  display: none;
}

.topCategories a,
.topContributors a {
  text-decoration: none;
  color: inherit;
}

.topCategories a:hover h3,
.topContributors a:hover h3 {
  text-decoration: underline;
}

.topScore__content {
  display: flex;
  flex-direction: row;
}

.topScore__content-avatar {
  width: 20%;
}

.topScore__content-avatar > img {
  width: 100%;
  border-radius: 3rem;
}

/*****************************************************************? CATEGORY LIST */

#categoryCarousel .carousel__img {
  max-height: 600px;
  height: 100%;
}

#category .category__card {
  box-shadow: 2px 2px 20px 2px rgb(0 0 0 / 30%) !important;
}

#category .category__card:hover {
  box-shadow: 2px 2px 20px 2px rgb(0 0 0 / 35%) !important;
}

#category .category__card_title {
  display: block;
  width: 100%;
  padding: 0.7rem;
  text-align: center;
  color: white;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
}

#category .category__card:hover .category__card_title {
  background-color: rgba(0, 0, 0, 0.15);
}

/*****************************************************************? EVENT LIST */

/*****************************************************************? COLOR */

.bg-light {
  background-color: #f2f6fc !important;
}

.bg-white-20 {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.text-light {
  color: #f2f6fc !important;
}

svg.text-light {
  fill: #f2f6fc !important;
}

.footer.footer-light,
.navbar-light .navbar-nav .nav-link,
.page-header-ui-text {
  color: #69707a !important;
}

.footer-admin a,
.footer a,
.text-reset {
  color: inherit !important;
}

/****************************
* ALIGNEMENT & STYLE
*****************************/

.pt-6 {
  padding-top: 6rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

/*****************************************************************? FOOTER */

#footer {
  background-color: #eef3fb;
}

.icon-list-social .icon-list-social-link {
  color: #404040;
  font-size: 0.75rem;
}

.icon-list-social .icon-list-social-link:hover {
  color: #656e7a !important;
  transition: all 0.3s ease-in-out;
}

#footer a {
  color: #585858;
  transition: 0.3s all linear;
}

#footer a:hover {
  color: #202020;
  text-decoration: underline;
}

.footer__links a {
  font-size: 1.1rem;
  text-decoration: underline;
}

/*****************************************************************/
/***************************************************************** MEDIA QUERIES */
/*****************************************************************/

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 700px) {
  /************************************************ HOME  */

  .topScore {
    grid-template-columns: repeat(2, 1fr);
  }

  .descriptionPlace img {
    width: 100%;
  }

  .descriptionPlace__picture {
    display: block;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
  /************************************************ HOME  */

  .topScore {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1400px) {
}
